# App configuration
TZ=UTC
WORKERS=1

# RabbitMQ configuration
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_DEFAULT_VHOST=pushbase

# MySQL/MariaDB configuration
MYSQL_DATABASE=pushbase
MYSQL_USER=pushbase
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=