# App configuration
TZ=UTC
WORKERS=1

# AMQP configuration
AMQP_USER=
AMQP_PASS=
AMQP_VHOST=pushbase

# MySQL/MariaDB configuration
MYSQL_DATABASE=pushbase
MYSQL_USER=pushbase
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=